html {
    text-align: center;
}

body {
    max-width: 800px;
    background-color: lightgoldenrodyellow;
}

main {
    padding: 5px;
}

header {
    padding: 5px;
}

.content {
    background-color: aliceblue;
}

.under-construction-header {
    margin: 5px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.under-construction-sub-header {
    display: flex;
    justify-content: center;

    height: 48px;
}

