html {
    text-align: center;
}

body {
    max-width: 800px;
    background-color: lightgoldenrodyellow;
}

.content {
    background-color: aliceblue;
}

.under-construction-header {
    margin: 5px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.under-construction-header > * {
    display: inline-block;
}

.under-construction-header > img {
    width: 64px;
}

